<%- layout("./layouts/boilerplate") %>
<h1>HOME PAGE</h1>
<h1>WELCOME to YelpCamp!!</h1>
<a href="/user/register" class="btn btn-primary">Register Yourself</a>
<a href="/user/login" class="btn btn-primary">Login</a>
