<% layout('./layouts/boilerplate') %>
    <h1>Create a new Campground</h1>
    <form action="/campgrounds/create" method="post">
        <input type="text" name="title" placeholder="Enter title" required>
        <input type="text" name="location" placeholder="Enter location" required>
        <input type="text" name="description" placeholder="Enter description" required>
        <input type="text" name="image" placeholder="Give image url" required>
        <input type="number" name="price" placeholder="Give price" required>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

