<%- layout("./layouts/boilerplate") %>
<form action="/user/login" method="post">
    <h1>Already registered! Login</h1>
    <input type="text" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login" class="btn btn-primary">
</form>