<%- layout("./layouts/boilerplate") %>
<form action="/user/register" method="post">
    <h1>Register Here</h1>
    <input type="text" name="name" placeholder="Enter full name">
    <input type="text" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Register" class="btn btn-primary">
</form>